html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #636363;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body{
    font-size: 100%;
}
#logo{
    height: 35px;
    width: auto;
}

.logo-img{
    /* order: 0; */
}

.contact-social{
    background-color: #9f85ac;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.social{
    margin-left: 10px;
    padding: 4px;
    flex-grow: 1;
}

.social-link{
    display: inline-block;
    transition: ease-in-out .1s;
}

.social-link:hover{
    transform: scale(1.1);
}

.social-icon{
    color: #fff;
    padding-right: 7px;
}

.social-btn{
    vertical-align: middle;
}

.social a{
    text-decoration: none;
    color: black;
}

.yes-mobile{
    display: none;
    flex-basis: 100%;

}

.none-mobile{
    display: inline-block;
}

.contact{
    margin-right: 10px;
    padding: 7px;
    flex-grow: 1;
    text-align: end;
}

.contact a{
    text-decoration: none;
    color: #fff;
}

.contact a:hover{
    text-decoration: underline;
}

nav{
    border-bottom: 3px solid #9f85ac;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #f5f3f3;
    height: 80px;
    font-size: 1.1em;
    align-items: center;
    z-index: 1000;
}

.nav-links{
    list-style: none;
    padding-right: 20px;   
}

.nav-link{
    display: inline-block;
    padding: 10px 30px; 
}

li{
    display: inline-block;
    line-height: 30px;
    transition: all 0.3s;
}

li:hover{
    background-color: #a086ad;
    color: #fff;
    border-radius: 3px;
}

li:hover a{
    color: #fff;
}

li > a{
    text-decoration: none;
    color: #636363;
}



.arrow-icon{
    padding-left: 3px;
}

.highlighted-button{
    border: 2px solid #9f85ac;
    padding: 13px 15px;
    border-radius: 6px;
    background-color: #f5f3f3;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #636363;
    transition: ease .1s;
}

.highlighted-button:hover{
    cursor: pointer;
    color: #fff;
    background-color: #a086ad;
}

.nav-button:hover{
    cursor: pointer;
    color: #fff;
    background-color:#a086ad; 
}

.dropdown-btn{
    position: relative;
}

.dropdown-list{
    display: block;
    opacity: 0;
    visibility: hidden;
    width: 180%;
    position: absolute;
    background-color: #f5f3f3;
    top: 50px;
    left: -20%;
    transition: ease .4s;
    border-radius: 0 0 3px 3px;
}

.dropdown-btn:hover .dropdown-list{
    visibility: visible;
    opacity: 1;
}

.dropdown-item{
    padding-right: 100px;
    width: 100%;
}

.dropdown-item a{
    width: 150%;
    display: block;
    padding: 10px 20px;
    color: #636363 !important;
}

.dropdown-item a:hover{
    color: #fff !important;
}

.toggle{
    display: none;

}

.hero{
    background: url("../assets/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title{
    font-family: 'Lemonada', sans-serif !important;
    color: #fff;
    font-size: 2.8em;
    font-weight: 400;
    text-align: center;
    line-height: 1.2em;
    width: 60%;
    
}

.quote-author{
    margin-left: 47%;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
}

.hero-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #636363;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    /* color: #636363; */
    border-radius: 6px;
    margin-top: 80px;
    height: 70px;
    width: 200px;
    border: none;
    background-color: #fff;
    opacity: 1;
    /* padding: 50px 40px 50px 40px; */
    /* line-height: 40px; */
    transition: all .1s;
}

.hero-btn:hover{
    cursor: pointer;
    color: #fff;
    background-color:#a086ad; 
}

.presentation{
    margin: 50px 100px 80px 100px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-gap: 40px;
}

.presentation-txt{
    display: grid;
}

.pres-title{
    font-family: "Dancing Script", sans-serif;
    font-size: 2.6em;
    color: #9f85ac;
    text-align: center;
    margin-right: 5px;
    /* padding-bottom: .5em; */
}

.pres-text{
    line-height: 1.4em;
    font-size: 1.4em;
    padding-top: 1.2em;
    text-align: center;
    margin-right: 5px;
}

.welcome-btn{
    font-size: 1.4em;
    width: 300px;
    margin-top: 50px;
    justify-self: center;
    height: 70px;
    vertical-align: middle;
}

.presentation-img{
    justify-self: center;
}

.presentation-img > img{
    object-fit: cover;
    max-width: 100%;
}

.back-img{
    width: 100%;
}

.parallax-img{
    max-width: 100%;

}

.services{
    padding: 50px 100px 100px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    /* margin-bottom: 20px; */
    /* padding: 20px 30px;  */
   
}

.services-title{
    font-family: "Dancing Script", sans-serif;
    font-size: 5em;
    text-decoration: underline;
    color: #9f85ac;
    grid-column: 1 / -1;
    align-self: center;
    text-align: center;
    /* margin-top: 30px; */
    padding-bottom: 30px;
}

.service-item{
    /* padding: 20px; */
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #9f85ac;
    border-radius: 5px;
    width: 90%;
    padding: 20px;
    transition: transform .3s;
    margin-bottom: 20px;
}

.service-item:hover{
    background-color: #f5f3f3;
    cursor: pointer;
    transform: scale(1.051);
}

.service-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-wrapper > p{
    text-align: center;
}

.service-title{
    text-align: center;
    font-size: 1.5em;
    /* border-top: 1px solid rgba(0,0,0,.3); */
    padding-top: 1em;
}

.service-img-wrapper{
    padding-bottom: 1em;
    border-bottom: 2px solid #9f85ac;
}

.service-img{
    height: 180px;
    width: 180px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 8px;
    position: relative;
    bottom: 0;
    transition: linear .2s;
}

/* .service-img:hover{
    cursor: pointer;
    bottom: 3px;
    box-shadow: 0 3px 3px rgba(0,0,0,.6);
} */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ad9eb4;
    border-top: 3px solid #9f85ac;
}

.footer-button{
    width: 200px;
    margin-bottom: 20px;
}

.footer-button:first-child{
    margin-top: 20px;
}

.footer-social{
    margin-bottom: 40px;
}

.chivo{
    display:inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: rgba(0,0,0,.3);
}

/* !!!!!!!!!!!!!!! MEDIA QUERYS !!!!!!!!!!!!!!!!!!!!!*/

/* Large devices (desktops, 992px and down)*/
@media (max-width: 992px) {
    
}
@media(max-width: 850px){
    .presentation{
        grid-template-columns: 1fr;
    }

    .services{
        grid-template-columns: 1fr 1fr;
    }
}
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
    .secondary{
        display: none;
    }

    .toggle{
        display: inline-block;
        padding: 0 10px;
    }
    .toggle:hover{
        color: #636363;
        background-color: #f5f3f3;
        cursor: pointer;
    }

    .hero{
        height: 400px;
        background-position: -600px 0;
        
    }

    .hero-title{
        font-size: 2em;
    }

    .presentation{
        grid-template-columns: 1fr;
    }

    .services{
        grid-template-columns: 1fr 1fr;
    }
    
}


/* Small devices (landscape phones, 576px and down)*/
@media (max-width: 576px) { 
    body{
        font-size: 74%;
    }

    .social{
        margin-top: 5px;
    }

    .social-link{
        padding-right: 20px;
    }

    .contact{
        text-align: start;
    }

    .contact-social{
        flex-wrap: wrap;
    }

    .yes-mobile{
        display: inline-block;
    }

    .none-mobile{
        display: none;
    }

    .mobile-100{
        display: inline-block;
        font-size: 1.1em;
        width: 100%;
    }

    #logo{
        width: 150px;
        height: auto;
    }

    .responsive-btn{
        display: none;
    }

    .secondary{
        display: none;
    }

    .hero{
        background-position: -800px 0;
    }

    .hero-btn{
        height: 50px;
        width: 145px;
        font-size: 1.2em;
    }

    .presentation{
        margin: 20px;
    }

    .welcome-btn{
        width: 215px;
        justify-self: center;
        height: 50px;
        margin-top: 30px;

    }

    .services{
        grid-template-columns: 1fr;
        grid-template-rows: 100px repeat(6, 1fr);
        padding: 20px;
        grid-gap: 20px;
    }

    .services-title{
        padding: 0;
    }

    .service-item{
        width: 95%;
        flex-direction: row;
        justify-content: stretch;
        padding: 10px;
        margin: 0;
    }

    .service-wrapper{
        flex-direction: row;
        justify-content: center;
    }

    .service-img{
        width: 80px;
        height: 80px;
        padding: 0;
        margin: 0;
    }

    .service-img-wrapper{
        border-bottom: none;
        margin: 0;
        padding: 0;
        padding-right: 20px;
        border-right: 3px solid #9f85ac;
    }

    .service-title{
        padding: 0;
        padding-left: 15px;

    }
}